@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Webwinkel voor Componenten</h1>
    <p class="lead">Hier vindt u alle componenten die u nodig heeft</p>
    <p><a href="~/components/Index">Klik hier voor de lijst van de componenten</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Lorem Ipsum</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget nisi quis eros ornare mattis. Ut rhoncus dui finibus, pharetra quam volutpat, fermentum velit. Aenean convallis lobortis dui at feugiat. Maecenas vel porta ligula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed laoreet semper leo pharetra porttitor. Praesent fermentum, leo ac rhoncus suscipit, felis urna molestie lorem, at vulputate nunc dolor bibendum eros. Sed cursus auctor ante. Pellentesque ultricies id elit ac varius.
        </p>
        <p><a class="btn btn-default" href="http://nl.lipsum.com/feed/html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Nog wat meer Lorem Ipsum</h2>
        <p>NNunc sed arcu eu tortor maximus gravida. Nullam vitae auctor justo. Donec et est lorem. Morbi enim orci, eleifend in tellus gravida, vestibulum malesuada ex. Aenean in dictum neque. Vestibulum vitae tortor a felis lacinia eleifend ut eget tortor. Ut porta, erat et ullamcorper facilisis, enim metus tempus sapien, ut elementum diam velit nec purus. Vestibulum sed cursus tellus. Vestibulum sed dui lorem. Aenean lacinia erat tristique purus dapibus, sit amet fringilla sapien facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec erat risus, venenatis et urna eget, laoreet convallis arcu. Suspendisse malesuada metus vitae metus molestie, non euismod felis condimentum. Phasellus ut posuere nibh.</p>
        <p><a class="btn btn-default" href="http://nl.lipsum.com/feed/html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Laatste keer... Beloofd</h2>
        <p>Vestibulum bibendum a ex in facilisis. Suspendisse mollis nisl ut quam sagittis venenatis. Nunc velit nisi, efficitur sed lacus sed, pellentesque fringilla orci. Sed in justo ornare, porta lectus id, vehicula lacus. Donec efficitur ex id nulla mollis, non commodo ex aliquet. Maecenas id ante nisi. Sed vitae imperdiet lectus, non malesuada nunc. Cras suscipit hendrerit consequat. Donec a justo nec ipsum aliquam consequat sed id lectus. Sed vehicula fermentum pellentesque.</p>
        <p><a class="btn btn-default" href="http://nl.lipsum.com/feed/html">Learn more &raquo;</a></p>
    </div>
</div>